{% extends 'base.html' %}
{% load hitcount_tags %}
{% block title %}{{object.title}}{% endblock %}


{% block content %}
<div class="container">
    <div class="card h-50">
        <div class="card-header">
            <div class="col-12 text-center text-capitalize">
                <h1>
                    {{accomodation.title}}
                </h1>
            </div>
        </div>
        <img class="h-50" style="image-resolution: 100%;" src="{{ accomodation.image_1.url}}" class="card-img" alt="...">
    </div>
   <div class="card">
    <div class="row">
       <div class="col-12">
        <div class="row">
            <div class="col-4">
                total views: {% get_hit_count for accomodation %}
                {% comment %} total views: {% get_hit_count for [accomodation] %} {% endcomment %}
            </div>
            <div class="col-4">
                date added:
            </div>
            <div class="col-4">
                <!--  -->
            </div>
        </div>
       </div>
    </div>
   </div>

   <div class="row">
       <div class="col-sm-12 col-md-12 col-lg-8">
        {{accomodation.desc |safe}}
       </div>
       <div class="col-sm-12 col-md-12 col-lg-4">
           <div class="card mb-3 ">
               <div class="card-header text-center">
                   Contact Info
               </div>
               <div class="card-body">
                   <div class="row">
                       <div class="col-12">
                        <div class="block flex justify-content-between">
                            <div>
                                <form> 
                                    <div class="form-group row">
                                        <label for="name-title" class="col-sm-4 col-form-label">Name: </label>
                                        <label for="name" class="col-form-label col-sm-8">
                                            {{accomodation.owner.profile.first_name}}
                                        </label>
                                        <!--  -->
                                        <label for="name-title" class="col-sm-4 col-form-label">Contact Number: </label>
                                        <label for="name" class="col-form-label col-sm-8">
                                            {{accomodation.owner.profile.phone_number}}
                                        </label>
                                        <!--  -->
                                        <label for="name-title" class="col-sm-4 col-form-label">Email: </label>
                                        <label for="name" class="col-form-label col-sm-8">
                                            {{accomodation.owner.email}}
                                        </label>
                                        <!--  -->
                                      </div>
                                </form>
                            </div>
                          </div>
                       </div>
                   </div>
               </div>
           </div>

           <!-- if landlord -->
           {% if request.user.profile.is_landlord %}
           <div class="card ">
               <div class="card-header text-center">
                    View Report
               </div>
               <div class="card-body">
                   {% comment %} <samp>There are <strong>{{accomodation.application.all.count }}</strong> applications submitted </samp> {% endcomment %}
                <button>
                    View Report
                </button>
               </div>
           </div>
           {% endif %}
           {% if request.user.profile.is_student %}
        <!-- if student -->
        <div class="card  text-center">
            <div class="card-header">
                Apply
            </div>
            <div class="card-body  text-center">
                <p>
                    Do you want to apply for accomodation here at <strong>{{accomodation.title}}</strong>
                </p>
                <div class="w-100">
                    <p>
                    
                        <form action="{% url 'apply' accomodation.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accomodation_id" value="{{object.id}}">
                            {% if user not in object.applied.all %}
                            <button type="submit" class="btn btn-primary m-3">Apply</button>
                            {% else %}
                            <button type="submit" class="btn btn-secondary m-3">Cancel application</button>
                            {% endif %}
                        </form>

                        
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        
       </div>
   </div>

    <hr>
    
</div>
    {% endblock content %}