{% extends 'base.html' %}



{% block content %}
<div class="container mt-5 mt-2">

  <p>there is a  total number of  #<strong> {{object|length}} </strong> accomodation in our database</p>
<hr>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-auto g-4">
        {% for house in object %}
        <div class="col">
            <div class="card">
                <img src="{{house.image_1.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{house.title}}</h5>
                    <p class="card-text">{{house.address}}</p>
                    <hr>
                    <a href="{% url 'accomodation-detail' house.id %}" class="btn btn-primary">view accomodation</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}