{% extends 'base.html' %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% block title %}Home | Home{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1 class="d-flex justify-content-center">
        EchoWebSphare
    </h1>
    <p>
        EchoWebSphare is a student cyber space where nwu student can search, view and apply for a student
        accomodation
    </p>
</div>
<div class="container mt-3 mb-3">
    <div class="justify-content-center">
        <form class="d-flex Bootstrap" action="{% url 'search_results' %}" method="get">
            <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<section class="container">
    <div class="">
        <h3>
            Explore Accomodations
        </h3>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-auto g-4">
        {% for house in accomodation_list %}
        <div class="col">
            <div class="card">
                <img src="{{house.image_1.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{house.title}}</h5>
                    <p class="card-text">{{house.address}}</p>
                    <hr>
                    <span>views: {% get_hit_count for house %}</span>
                    <hr>
                    <a href="{% url 'accomodation-detail' house.id %}" class="btn btn-primary">view accomodation</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}

