{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Report Page {% endblock %}

{% block content %}
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">application</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in applied_accomodations %}
      <th scope="row">*</th>
      <td>{{obj}}</td>
      <td>Otto</td>
      <td>@mdo</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
 {{ applied_accomodations }}
{% endblock %}